doctype html
html
  head
    title='Sight-Reading Trainer'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/sheet-render-styles.css')
    script(src='/javascripts/bundle.js')
  body
    block content
